@model AppUserListDTO
@{
    Layout = "_Layout";
}

<form asp-action="Update" asp-controller="AppUser" asp-area="Admin" method="post">
    <div class="mb-3 text-danger" asp-validation-summary="ModelOnly">
    </div>
    <div>
        <input type="hidden" class="form-control" asp-for="@Model.AppUserId">
        <input type="hidden" class="form-control" asp-for="@Model.IsActive">
        <input type="hidden" class="form-control" asp-for="@Model.AppRoleId">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="@Model.Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola</label>
        <input type="password" class="form-control" asp-for="@Model.Password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ad</label>
        <input type="text" class="form-control" asp-for="@Model.Name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Soyad</label>
        <input type="text" class="form-control" asp-for="@Model.Surname">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>