@model List<ProductListDTO>
@{
}

<div class="container sectionPadding">
    <div style="display: flex; align-items: center;">
        <a onclick="closePartialView()" href="#">
            <i class="fa-solid fa-chevron-left" style="color: darkblue; font-weight: bold; font-size: 20px;"></i>
        </a>
        <h1 style="margin: auto;">Ürünler</h1>      
    </div>
    <br />
    @if (Model != null && Model.Count > 0)
    {
        <ul class="card-list">
            @foreach (var product in Model)
            {
                <li class="card">
                    <a class="card-imagenoblur" href="#" onclick="loadPartialView(event, 'GetProductDetails?id=' + @product.ProductId)" target="_blank" style="background-image: url(@product.ImageUrls[0]);" data-image-full="@product.ImageUrls[0]">
                        <img src="@product.ImageUrls[0]" alt="@product.Title" style="height: 200px; width: 100%;" />
                    </a>
                    <a class="card-description" href="@product.ImageUrls[0]" target="_blank">
                        <h2>@product.Title</h2>
                    </a>
                </li>
            }
        </ul>
        <br />
    }
    else
    {
        <h4 style="margin: auto;">Ürün bulunmuyor.</h4>
    }
</div>