@model List<ProductListDTO>
@{
    Layout = "_Layout";
}
<style>
    .rounded-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

</style>

<a asp-action="Create" asp-controller="Product" asp-area="Admin" class="btn btn-primary">Ürün Ekle</a>
<hr />
<div class="table-responsive">
    <table class="table table-dark mb-0">
        <thead>
            <tr>
                <th>Sayfa Adı</th>
                <th>Başlık</th>
                <th>İçerik</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th class="th-center-middle"><img src="@(product.ImageUrls != null ? product.ImageUrls.First() : "")" class="rounded-image" alt="Category Image"></th>
                    <th class="th-center-middle">@product.Title</th>
                    <th class="th-center-middle">@product.Price ₺</th>
                    <th class="th-center-middle">@product.Tax% Vergi</th>
                    <th class="th-center-middle">@product.Discount% İndirim </th>
                    <th class="th-center-middle">@product.Quantity Adet</th>
                    <th class="th-center-middle">@product.ProductSalesType</th>
                    <th class="th-center-middle">@(product.Category != null ? product.Category.Name : "")</th>
                    <th>
                        <a class="btn btn-danger" asp-route-id="@product.ProductId" asp-action="Delete" asp-controller="Product" asp-area="Admin">Sil</a>
                        <a class="btn btn-primary" asp-route-id="@product.ProductId" asp-action="Update" asp-controller="Product" asp-area="Admin">Güncelle</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
