@model CreateBannerDTO
@{
    Layout = "_Layout";
}

<form asp-action="CreateBanner" asp-controller="Settings" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label class="form-label">Görsel :</label>
        <input asp-for="@Model.Image" type="file" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Başlık :</label>
        <input asp-for="@Model.Title" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">İçerik :</label>
        <input asp-for="@Model.Content" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-check-label">Ana Sayfada Gösterilsin : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-check-input" type="checkbox" id="showMainPageCheckbox" asp-for="@Model.IsShowMainPage">
    </div>
    <div class="mb-3">
        <label class="form-check-label">Hakkında Sayfasında Gösterilsin : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-check-input" type="checkbox" id="showAboutPageCheckbox" asp-for="@Model.IsShowAboutPage">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
